name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test renovate-config-validator
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1.16
      - name: Run renovate-config-validator with the default values
        uses: ./
      - name: Run renovate-config-validator with non default values
        uses: ./
        with:
          config-file: 'renovate-new.json'
